In [19]:
import pandas as pd

In [20]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
data =pd.read_excel("Datasources/201908-citibike-tripdata1.xlsx")
data_df=pd.DataFrame(data)
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.468,2019-08-01 00:06:35.378,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.929,2019-08-01 00:10:29.784,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.048,2019-08-01 00:18:56.165,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.163,2019-08-01 00:29:44.794,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.458,2019-08-01 00:25:23.455,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,595,2019-08-14 17:10:53.786,2019-08-14 17:20:49.711,477.0,W 41 St & 8 Ave,40.756405,-73.990026,494.0,W 26 St & 8 Ave,40.747348,-73.997236,27837,Subscriber,1964,1
1048571,321,2019-08-14 17:10:54.005,2019-08-14 17:16:15.489,3557.0,40 Ave & 9 St,40.757420,-73.945133,3129.0,Queens Plaza North & Crescent St,40.751102,-73.940737,17174,Subscriber,1976,1
1048572,891,2019-08-14 17:10:54.144,2019-08-14 17:25:46.018,3708.0,W 13 St & 5 Ave,40.735445,-73.994310,249.0,Harrison St & Hudson St,40.718710,-74.009001,27188,Customer,1969,0
1048573,194,2019-08-14 17:10:54.889,2019-08-14 17:14:09.486,168.0,W 18 St & 6 Ave,40.739713,-73.994564,116.0,W 17 St & 8 Ave,40.741776,-74.001497,14838,Subscriber,1990,2
1048574,836,2019-08-14 17:10:55.463,2019-08-14 17:24:52.009,387.0,Centre St & Chambers St,40.712733,-74.004607,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,39011,Subscriber,1988,1

In [22]:
# 2. Check the datatypes of your columns. 
data_df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [23]:
# 3. Convert the 'tripduration' column to datetime datatype.
data_df["tripduration"]=pd.to_datetime(data_df["tripduration"], unit='s')
#data_df["starttime"]=pd.to_datetime(data_df["tripduration"], unit='s')
data_df["starttime"]

0         2019-08-01 00:00:01.468
1         2019-08-01 00:00:01.929
2         2019-08-01 00:00:04.048
3         2019-08-01 00:00:04.163
4         2019-08-01 00:00:05.458
                    ...
1048570   2019-08-14 17:10:53.786
1048571   2019-08-14 17:10:54.005
1048572   2019-08-14 17:10:54.144
1048573   2019-08-14 17:10:54.889
1048574   2019-08-14 17:10:55.463
Name: starttime, Length: 1048575, dtype: datetime64[ns]

In [24]:
# 4. Check the datatypes of your columns. 
data_df.dtypes
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1970-01-01 00:06:33,2019-08-01 00:00:01.468,2019-08-01 00:06:35.378,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,1970-01-01 00:10:27,2019-08-01 00:00:01.929,2019-08-01 00:10:29.784,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1970-01-01 00:18:52,2019-08-01 00:00:04.048,2019-08-01 00:18:56.165,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1970-01-01 00:29:40,2019-08-01 00:00:04.163,2019-08-01 00:29:44.794,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1970-01-01 00:25:17,2019-08-01 00:00:05.458,2019-08-01 00:25:23.455,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1970-01-01 00:09:55,2019-08-14 17:10:53.786,2019-08-14 17:20:49.711,477.0,W 41 St & 8 Ave,40.756405,-73.990026,494.0,W 26 St & 8 Ave,40.747348,-73.997236,27837,Subscriber,1964,1
1048571,1970-01-01 00:05:21,2019-08-14 17:10:54.005,2019-08-14 17:16:15.489,3557.0,40 Ave & 9 St,40.757420,-73.945133,3129.0,Queens Plaza North & Crescent St,40.751102,-73.940737,17174,Subscriber,1976,1
1048572,1970-01-01 00:14:51,2019-08-14 17:10:54.144,2019-08-14 17:25:46.018,3708.0,W 13 St & 5 Ave,40.735445,-73.994310,249.0,Harrison St & Hudson St,40.718710,-74.009001,27188,Customer,1969,0
1048573,1970-01-01 00:03:14,2019-08-14 17:10:54.889,2019-08-14 17:14:09.486,168.0,W 18 St & 6 Ave,40.739713,-73.994564,116.0,W 17 St & 8 Ave,40.741776,-74.001497,14838,Subscriber,1990,2
1048574,1970-01-01 00:13:56,2019-08-14 17:10:55.463,2019-08-14 17:24:52.009,387.0,Centre St & Chambers St,40.712733,-74.004607,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,39011,Subscriber,1988,1

In [25]:
# 5. Export the Dataframe as a new CSV file without the index.
data_df.to_csv("Datasources/Updated_201908-citibike-tripdata1.csv",index=False)